_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
_assets/audio/
vendor/
*.swp
*.swo
*~
*.json
node_modules/
.bundle/
collections/notes
collections/archive
collections/pdfs
collections/publications
collections/_fiction
collections/_culture/film-diary
node_modules/
package.json
package-lock.json
