pandoc:
  format: html5
  extensions:
    - csl: "assets/csl/chicago-fullnote-bibliography.csl"
    - bibliography: "collections/bibliography.bib"
    - citeproc
    #- lua-filter: "_plugins/metadata-headings.lua" # this needs to come after citeproc
    - from: "markdown+gfm_auto_identifiers"
    - section_divs

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - .bundle/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - bower.json
  - bower_components/
  - collections/archive
  - collections/pdfs
  - collections/notes
  - collections/publications
  - collections/.gitignore
  - collections/.git
  - _podcast/
  - _culture/film-diary
