    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
		{% unless page.minimal %}
		<script src="{{ "/assets/js/sidenotes.js" }}"></script>
		<script src="{{ "/assets/js/hyphenopoly/Hyphenopoly_Loader.js" }}"></script>
		<script>
        Hyphenopoly.config({
            require: {
                "en-gb": "Supercalifragilisticexpialidocious"
            },
		paths: {
    	  patterndir: "/assets/js/hyphenopoly/patterns/",
    	  maindir: "/assets/js/hyphenopoly/"
    	},
            setup: {
                selectors: {
                    ".markdownBody": {}
                }
            }
        });
        </script>
		{% endunless %}
		<title>{{ page.title | markdownify | strip_html }} | umt.world</title>

        <!-- Stylesheets. -->
		<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}?v={{ site.data.css.digest }}">
		<link rel="shortcut icon" type="image/svg" href="/assets/images/favicon.svg">

		<!-- Canonical URL -->
		{% assign canon = page.url %}
		{% if canon == '/index.html' or canon == '/index' or canon == '/' %}{% assign canon = '/' %}{% endif %}
		{% unless page.minimal %}
		<link rel="canonical" href="{{ canon | absolute_url }}">
		{% endunless %}

		<!-- Preload fonts -->
		<link rel="preload" href="/assets/fonts/FCaslon/FCaslonTwelveITCStd-Roman.otf" as="font" type="font/otf" crossorigin>
		<link rel="preload" href="/assets/fonts/FCaslon/FCaslonTwelveITCStd-Italic.otf" as="font" type="font/otf" crossorigin>
		<link rel="preload" href="/assets/fonts/LTC%20Remington%20Typewriter/LTCRemingtonTypewriterPro.otf" as="font" type="font/otf" crossorigin>
		<link rel="preload" href="/assets/fonts/Akzidenz%20Grotesk/AkzidenzGrotesk-Regular.otf" as="font" type="font/otf" crossorigin>
		<link rel="preload" href="/assets/fonts/Akzidenz%20Grotesk/AkzidenzGrotesk-Italic.otf" as="font" type="font/otf" crossorigin>
		<link rel="preload" href="/assets/fonts/chandler-42/Chandler_42%20W05%20Lite.ttf" as="font" type="font/ttf" crossorigin>

        <!-- Metadata. -->
        <meta name="keywords" content="Uriah Marc Todoroff, writing, blog, photography, art, criticism, philosophy, funny">
		<meta name="description" content="{{ page.description | default: site.description | markdownify | strip_html | strip_newlines }}">

    </head>
