// light mode

$background-colour: #FFFFF8;
$text-colour: #2A2A29;
$link-colour: #555553;
$hover-colour: #80807c;
$border-colour: #555553;
$secondary-background-colour: #F8F8FF;
$secondary-text-colour: #4a4a4c;
$secondary-hover-colour: #dfdfe5;
$secondary-border-colour: #c6c6cc;
$highlight-colour: #ad1c42;
$highlight-colour-secondary: #8e3b51;
$emerald: #42ad1c;
$sapphire: #1c42ad;
$violet: #871cad;

// dark mode

$dark-background-colour: #2A2A29;
$dark-text-colour: #FFFFF8;
$dark-link-colour: #80807c;
$dark-hover-colour: #555553;

$dark-border-colour: #555553;
$dark-secondary-background-colour: #4a4a4c;
$dark-secondary-text-colour: #F8F8FF;
$dark-secondary-hover-colour: #dfdfe5;
$dark-secondary-border-colour: #c6c6cc;
$dark-highlight-colour: #ad1c42;
$dark-highlight-colour-secondary: #8e3b51;
