@use "fonts/remington";
@use "fonts/fcaslon";
@use "fonts/akzidenz";
@use "fonts/chandler";
@use "fonts/courier";

// Define generic font families for fallbacks
$source-sans: "Source Sans 3", sans-serif;
$source-serif: "Source Serif 4", serif;
$source-code: "Source Code Pro", monospace;
