// Import font families
//@import "fonts/miller";
//@import "fonts/neutraface";
@import "fonts/typewriter";
@import "fonts/caslon";
//@import "fonts/franklin";
@import "fonts/akzidenz";

// Define generic font families for fallbacks
$source-sans: "Source Sans 3", sans-serif;
$source-serif: "Source Serif 4", serif;
$source-code: "Source Code Pro", monospace;

// Irvin Heading
@font-face {
  font-family: "Irvin Heading";
  src: url("../fonts/Irvin-Heading.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Grotesque No 9
@font-face {
  font-family: "GrotesqueNo9W05-Regular";
  src: url("../fonts/GrotesqueNo9%20W05%20Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Mrs Eaves
@font-face {
  font-family: "Mrs Eaves Petite Caps OT";
  src: url("../fonts/Mrs%20Eaves/Mrs%20Eaves%20All%20Petite%20Caps%20OT.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mrs Eaves Lining OT";
  src: url("../fonts/Mrs%20Eaves/Mrs%20Eaves%20Lining%20OT.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-variant-ligatures: common-ligatures;
}

@font-face {
  font-family: "Mrs Eaves OT Roman";
  src: url("../fonts/Mrs%20Eaves/MrsEavesOT-Roman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Courier Std
@font-face {
  font-family: "Courier Std";
  src: url("../fonts/Courier%20Std/CourierStd.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Courier Std Bold"; // Or "Courier Bold"
  src: url("../fonts/Courier%20Std/CourierStd-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Flyerfonts
@font-face {
  font-family: "Flyerfonts Release";
  src: url("../fonts/Flyerfonts-Release.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Flyerfonts Release";
  src: url("../fonts/Flyerfonts-Malfunction.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// P22 Typewriter
@font-face {
  font-family: "P22 Typewriter";
  src: url("../fonts/p22-typewriter/P22%20Typewriter%20W05%20Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// LTC Remington Typewriter
@font-face {
  font-family: "LTC Remington Typewriter";
  src: url("../fonts/LTC%20Remington%20Typewriter/LTCRemingtonTypewriterPro.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LTC Remington Typewriter Italic";
  src: url("../fonts/LTC%20Remington%20Typewriter/LTCRemingtonTypewriterPro-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
