@use "mixins" as *;

body {
    --body-width: var(--measure-prose);
}

main {
    position: relative;
    max-width: var(--body-width, 75ch);
    margin: 0 auto;
}

body.page-index {
  --body-width: calc(3 * var(--measure-column) + 2 * var(--space-m) + 2 * var(--space-s));
}

.post section {
  margin-top: 2.75em;
}

@media (min-width: 650px) {
    main {
        min-height: 100vh;
        display: flex;
        flex-flow: column;
    }

    article {
        flex: 1 1 auto;
    }

    header {
        margin: var(--space-m) 0 var(--space-s) 0;
    }

}
