/* base features */

html {
    background-color: #fff;
    line-height: 1.60;
	font-family: Source Pro;
	font-size: 1rem;
	font-weight: 400;
}

body {
    color: #333;
	max-width: 1000px;
	margin: 0 auto;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 18px;
}

ol {
	counter-reset: count;
	list-style-type: decimal;
}

li {
	counter-increment: count;
	}

ol li::marker {
	content: counters(count, ".", decimal) ". ";
	}

a {
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

h1 {
    font-size: 1.5em;
	line-height: 1.125;
	text-align: left;
	font-weight: bold;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

nav#sidebar {
    background: #f3f3f3 url("../images/header.png") repeat-x left bottom;
    text-align: center;
}

nav#sidebar a {
    border: none;
}

main {
	min-height: 100vh;
	position: relative;
	right: 40px;
}

header {
	margin-left: 155px;
	}

header h1 {
	margin: 0.75em 0;
	text-align: center;
	font-variant: small-caps;
	font-size: 2.5em;
	line-height: 1.15;
	font-weight: 600;
	letter-spacing: -1px;
	}

div.page-metadata {
	line-height: 1.5;
	margin: 0 0 2rem 0;
}

article #page-description {
		margin: 0 auto 0.75em auto;
	}

article#index {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2em;
	grid-row-gap: 0.5em;
	}

article#index aside#abstract {
	grid-column-start: 1;
	grid-column-end: -1;
	}

article#index p {
		display: inline;
}

@media all and (min-width: 822px) {
    html {
    }

	body {
	}

    nav#sidebar {
		position: absolute;
        background: none;
        max-width: 102px;
    }

    nav#sidebar h1, nav#sidebar a {
        display: block;
        text-align: left;
    }

    nav#sidebar a {
        color: #333;
    }

	nav#sidebar a#logo {
}

	article {
		margin-left: 155px;
}

	article#index {
		padding-top: 15px;
}

	aside.abstract {
		grid-column-start: 1;
		grid-column-end: -1;
		margin: 0 2rem 1.5rem 0;
		position: relative;
		overflow-wrap: break-word;
}

	aside.abstract blockquote {
		margin: 0 0 1.5em 0;
		padding: 0.9rem 1.25rem 0.95rem 1.25rem;
		border: 1px solid #ccc;
		background-color: #f8f8f8;
		overflow: hidden;
}

	aside.TOC {
		float: left;
		max-width: 205px;
		margin: 0 2rem 1.5rem 0;
		padding: 0.5em 0.5em 0.75em 0.75em;
		position: relative;
		border: 1px solid #ccc;
		background-color: #f8f8f8;
		z-index: 11;
		line-height: 1.25;
}

}
