/* base features */

:root {
	--background-colour: #FFFFF8;
	--text-colour: #2A2A29;
	--link-colour: #555553;
	--link-hover-colour: #80807c;
	--border-colour: #555553;
	--highlight-colour: #ad1c42;
	--secondary-background-colour: #F8F8FF;
	--secondary-text-colour: #4a4a4c;
	--secondary-hover-colour: #dfdfe5;
	--secondary-border-colour: #c6c6cc;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Source Sans", sans-serif;
	src: url("../assets/fonts/SourceSans3-Regular");
}

html {
    line-height: 1.60em;
	font-size: calc(16px + 0.390625vw);
	font-weight: 400;
	font-family: "Source Pro";
}

body {
	max-width: 75ch;
	--body-width: 75ch;
	margin: 0 auto;
	padding: 0.5em;
	background-color: var(--background-colour);
	color: var(--text-colour);
}

main {
	position: relative;
}

a {
    color: var(--link-colour);
    text-decoration: none;
    border-bottom: 1px solid var(--border-colour);
}

#sidebar {
	display: flex;
	justify-content: center;
}

	#sidebar a#logo {
	    border: none;
		border: 1px dotted var(--link-hover-colour);
		margin: 1px;
		padding: 0.25rem 0.75rem;
		align-content: center;
	}

	#logo img {
		min-width: 3em;
		flex: 1 1 100%;
		filter: invert(11%) sepia(6%) saturate(187%) hue-rotate(22deg) brightness(105%) contrast(87%); /* var(--text-colour) */
		/* filter: invert(98%) sepia(18%) saturate(553%) hue-rotate(346deg) brightness(111%) contrast(105%); */ /* var(--background-colour) */
	}

	.sidebar-links {
		flex: 1 1 100%;
		display: flex;
		flex-flow: row wrap;
	}

	#sidebar .sidebar-links a {
		flex: 1 1 33%;
		padding: 0.25rem 0.75rem;
		align-content: center;
	}

	.sidebar-links a:hover {
		color: var(--link-hover-colour);
	}
	
	#sidebar a {
		display: block;
		text-align: center;
		font-variant: small-caps;
		border: 1px dotted var(--link-hover-colour);
		margin: 1px 0 1px 2px;
	}

	#sidebar a.patreon {
		display: block;
		text-align: center;
		font-variant: small-caps;
		border: 1px dotted var(--highlight-colour);
		margin: 1px 0 1px 2px;
	}

article {
}

aside.index.abstract {
	text-align: justify;
	margin: 0 auto;
}

#markdownBody {
	line-height: 1.45em;
/*	display: flex;
	flex-flow: row wrap;*/
	margin: 1em auto;
	max-width: 75ch;
}

	#markdownBody .section-link-list {
		padding: 0 0 0 1.25em;
		margin: 1em 0;
	}
	
		#markdownBody .section-link-list li {
			line-height: 1.65em;
			padding: 0.1em;
		}
	
	#markdownBody #diaries .section-link-list li {
		list-style-type: square;
	}

	#markdownBody a:hover {
		color: var(--link-hover-colour);
	}

	.markdownBody a {
		color: var(--text-colour);
		font-variant-numeric: lining-nums;
	}

	.markdownBody a:hover {
		color: var(--link-hover-colour);
	}

	p + p {
		text-indent: 1.75em;
		margin-top: 0;
	}

a.footnote-ref {
	vertical-align: super;
	line-height: 0.25em;
	position: relative;
	top: 0.1em;
	padding: 0 0.1em;
	margin-left: 0.25em;
	font-variant-numeric: lining-nums;
	font-weight: 600;
	z-index: 1;
}

.footnote-back {
	padding: 0 0.1em;
	margin-left: 0.1em;
	font-weight: 600;
}

h1.index-heading {
	border-bottom: 1px solid var(--link-hover-colour);
	margin: 1.125em 0 0 0;
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-align: left;
	padding: 0;
	letter-spacing: -0.05rem;
	font-variant-caps: small-caps;
}

hr.index-section-ornament {
	order: 4;
	border: 0;
	display: flex;
	margin: 0;
	width: 100%;
}

hr.index-section-ornament::after {
	content: "";
	margin: auto;
	width: 2.5em;
	height: 2.5em;
	background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
	background-size: 2.5em;
	background-image: url('/assets/images/caslon-section-ornament.svg');
}

/*section > :first-child > a {
	border-bottom: none;
}*/

footer {
	text-align: center;
	margin: 3em 0;
	align-items: center;
	display: flex;
	flex-flow: column;
}

.feedback a:hover {
	color: var(--link-hover-colour);
}

.end-ornament {
	max-width: 75%;
	padding-bottom: 1.25em;
}

.epitaph {
	max-width: 75ch;
	font-style: italic;
}

/* post layout */

.post section {
	margin-top: 2.75em;
	}

#page-metadata {
	line-height: 1.5em;
	margin: 0 0 2.25rem 0;
	font-family: sans-serif;
	text-align: center;
}

#page-description {
	margin: 0 auto 1em auto;
	font-style: italic;
	text-align: center;
	font-family: serif;
}

div#link-tags {
	margin: 0 auto 1em auto;
	font-family: monospace;
	text-align: center;
}

span.page-status {
	font-style: italic;
}

#TOC {
	border: 1px solid var(--secondary-border-colour);
	background-color: var(--secondary-background-colour);
	z-index: 20;
	line-height: 1em;
	padding: 1em;
	position: relative;
	font-size: 1rem;
	font-family: sans-serif;
	box-shadow: -1rem 0 0 0 #fff, 2.25rem 0 0 0 #fff;
}

.section-nav a {
	border: none;
	color: var(--secondary-text-colour);
}

.section-nav a:hover {
	background-color: var(--secondary-hover-colour);
}

/*
.blog-post-header {
	padding-bottom: 1em;
}

.blog-post-date {
    line-height: 1.60;
	font-size: 18px;
	font-weight: 700;
	display: inline;
}

	.blog-post-date::before {
		content: "§";
		font-style: normal;
		font-weight: bold;
	    color: #111;
	    text-decoration: none;
	}

.blog-post-title {
	font-size: 18px;
	font-weight: 700;
	font-variant: small-caps;
}

	.blog-post-title::before {
		content: "—";
		font-style: normal;
	    text-decoration: none;
		padding: 0.5rem;
		font-size: 18px;
		font-weight: 700;
	}

.blog-post-modified-date {
	display: inline;
	font-style: italic;
}

	.blog-post-modified-date::before {
		content: "(";
	    text-decoration: none;
	}

	.blog-post-modified-date::after {
		content: ".)";
	    text-decoration: none;
	}

.blog-post-description {
	font-style: italic;
}

	.blog-post-description::before {
		content: "—";
		font-style: normal;
	    text-decoration: none;
		padding: 0.5rem;
		font-size: 18px;
		font-weight: 700;
	}
*/

/* blockquotes */

blockquote {
	margin: 1em 0 1.5em 0;
	padding: 1rem 1.25rem 1rem 1.25rem;
	border: 1px solid var(--secondary-border-colour);
	background-color: var(--secondary-background-colour);
	overflow: hidden;
	position: relative;
}	

.abstract blockquote {
	margin: 0 0 1.5em 0;
	padding-top: 1em;
	border: 1px solid var(--secondary-border-colour);
	background-color: var(--secondary-background-colour);
	font-family: sans-serif;
}

.epigraph {
	padding: 0.75em 2.5em;
	background-color: var(--background-colour);
	border: none;
	font-family: "Source Serif 4";
}

	.epigraph p {
		font-style: italic;
	}

	.epigraph p:last-child:not(:only-child) {
		margin: 0.5em 0 0 0;
		text-align: right;
		font-size: 0.75em;
		font-style: normal;
	}

	.epigraph::before {
		display: block;
		position: absolute;
		font-size: 2.5em;
		content: "\201c";
		left: -0.01em;
	}

	.epigraph::after {
		display: block;
		position: absolute;
		font-size: 2.5em;
		content: "\201D";
		right: -0.01em;
		bottom: -0.01em;
	}

/* images */

figure {
	/*border-bottom: 1px solid black;*/
	margin: 1em 0;
}

figcaption {
	font-style: italic;
	text-align: center;
	font-size: 0.75em;
}

img {
    width: 100%;
}

/* lists */

ol {
	counter-reset: count;
	list-style-type: decimal;
}

	ol li::marker {
		content: counters(count, ".", decimal) ". ";
	}

li {
	counter-increment: count;
	padding: 0 0 0.65em 0;
}

#TOC > ul {
	column-count: 2;
	margin: 0;
	column-gap: 2em;
	list-style-type: none;
	padding: 0;
}

.section-nav > ul {
	counter-reset: htoc_1;
	list-style-type: none;
}

.section-nav ul {
	text-indent: 0;
	padding: 0;
	overflow: unset;
	list-style-type: none;
	padding-left: 0.5em;
	padding-top: 0.25em;
}

.section-nav li {
	font-weight: bold;
	margin: 0 0 0.5em 0;
	position: relative;
	overflow-wrap: break-word;
	font-size: 0.9em;
}

.section-nav li li {
	font-weight: normal;
}

/* typography */

h1.title {
	margin: 0.75em 0;
	text-align: center;
	font-variant: small-caps;
	font-size: 2em;
	line-height: 1.5em;
	font-weight: 700;
	letter-spacing: -1px;
	border-bottom: none;
}

section.level1 > h1 {
	border-bottom: 1px solid var(--link-hover-colour);
	font-size: 2em;
	font-weight: 600;
	font-variant-caps: small-caps;
	line-height: 1.125;
	text-align: right;
	padding: 0;
	margin-bottom: 1em;
	letter-spacing: -0.75px;
	position: relative;
}

section.level1 > h1.diary {
	text-align: center;
	border: none;
	margin-bottom: 0.5em;
}

section.level1 hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
	margin: 0.5em 0 0 0;
	padding: 0;
}

section.level1 hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

section.level2 hr {
	border-style: none;
	border-width: 0;
	border-radius: 0;
	margin: 0.5em 0 0 0;
	padding: 0;
}

section.level2 hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "\01F7BB \01F7BE \01F7BB";
	text-align: center;
	height: 0;
	margin-top: 0;
	border-style: none;
	border-color: none;
	border-width: 0;
	border-radius: 0;
}

#markdownBody h2.chapter-subsection {
	text-align: center;
	font-style: italic;
	text-transform: capitalize;
	font-variant: normal;
	border: none;
	margin-bottom: 0.75em;
}

#markdownBody section > h1 a::after {
	right: unset;
	left: 0;
}

h1 a::after:not(diary) {
	content: "\00B6";
	font-size: 0.75em;
	position: absolute;
    color: var(--link-hover-colour);
    text-decoration: none;
	bottom: 0.15em;
	right: 0;
	opacity: 0.5;
}

h1 a::after {
	right: unset;
	left: 0;
}

h1 a {
	border-bottom: none;
	}

section.level2 > h2 {
	text-transform: uppercase;
	font-size: 1.25em;
	border-bottom: 1px dotted var(--border-colour);
	text-align: left;
	font-variant: small-caps;
	line-height: 1.15;
	font-weight: 600;
	position: relative;
	padding: 0;
	margin: 0;
}

h2 a::after {
	content: "\00B6";
	font-size: 0.75em;
	position: absolute;
    color: var(--text-colour);
    text-decoration: none;
	bottom: 0.15em;
	right: 0;
	opacity: 0.5;
}

h2 a {
	border-bottom: none;
}

h3 {
    font-size: 1.25em;
	text-transform: capitalize;
	font-weight: bold;
	position: relative;
	font-variant: small-caps;
}

div.csl-entry {
	padding-top: 0.75em;
	text-indent: 2.25em;
	}

section#footnotes {
	margin-top: 3.5em;
	}

section#footnotes hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: var(--link-hover-colour);
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

section#footnotes hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: var(--link-hover-colour);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

@media (min-width: 650px) {
	/* introduce column-count: 2; sections around 1k pixels */

	main {
		min-height: 100vh;
		display: flex;
		flex-flow: column;
	}

	article {
		flex: 1 1 auto;
	}

	header {
		padding: 0 2em;
		margin: 2.125rem 0 1.75rem 0;
	}

	#sidebar .sidebar-links a {
		text-transform: uppercase;
		font-weight: 600;
		flex: 1 1 auto;
		color: var(--link-hover-colour);
	}

	#sidebar a:hover {
		color: #ccc;
	}

	.markdownBody {
		position: relative;
	}
}

@media (min-width: 901px) {

	body.page-index #markdownBody {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2em;
		grid-row-gap: 0.5em;
	}

	article.post {
		max-width: 75ch;
		margin: 0 auto;
	}

	hr.index-section-ornament {
		grid-column: 1 / -1;
		order: unset;
	}

	#TOC {
		max-width: 285px;
		margin: 0 2.5rem 1.5rem 0;
		position: relative;
		float: left;
	}

	#TOC > ul {
		column-count: 1;
	}

	#TOC li {
		padding: 0;
	}

	.section-nav ul {
		margin-top: 0.25em;
		text-indent: 0;
		padding-left: 0.75em;
		padding-top: 0.25em;
	}

	aside.abstract {
		grid-column: 1 / -1;
	}
}

@media (min-width: 1041px) {
	main {
	}

	#sidebar {
	}

	#logo {
	}

	.sidebar-links {
	}

	article {
	}
	/*aside.index.abstract {
		grid-column: 1 / -1;
		justify-self: center;
	}

	#markdownBody {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2em;
	}*/

	/*#markdownBody section {
		width: 37ch;
	}

	#markdownBody section:nth-child(even) {
		margin: 0 1ch 0 0;
	}*/
}

@media (min-width: 1180px) {
	#sidebar a#logo {
		border: none;
	}

	#sidebar #logo img {
		width: 5em;
	}
}

@media (min-width: 1761px ) {

	body.page-index #markdownBody {
		grid-template-columns: 35ch 35ch 35ch;
		margin-left: -20ch;
	}

	/*#markdownBody section:nth-last-child(-n+2) {
		margin-left: auto;
	}*/

	/*#markdownBody {
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 2em;
		grid-row-gap: 0.5em;
		position: relative;
	}

	#markdownBody > * {
		display: grid;
		grid: subgrid / subgrid;
		grid-template-rows: subgrid;
		grid-template-columns: subgrid;*/

	aside.index.abstract {
		margin-left: 30.5ch;
		--margin-left: 30.5ch;
		max-width: 62.5ch;
	}

}
