/* base features */

html {
    background-color: #fff;
    line-height: 1.60;
	font-size: 18px;
	font-weight: 400;
	font-family: Source Pro;
}

body {
    color: #333;
	margin: 0 15px;
}

main {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
}

nav#sidebar {
	display: flex;
    justify-content: center;
	margin: 0.75em 0 0.5em 0;
}

#sidebar a#logo {
    border: none;
	margin: 0.5em;
	max-width: 75px;
	min-width: 75px;
}

#sidebar div#sidebar-links {
	display: flex;
	flex-flow: row wrap;
}

#sidebar div#sidebar-links a {
	border: 1px dotted;
	padding: 0.5em 0.5em;
	text-align: center;
	margin: 1px;
	flex: 1 1 25%;
}

/*article {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2em;
	grid-row-gap: 0.5em;
	}
*/

/*
article aside#abstract {
	grid-column-start: 1;
	grid-column-end: -1;
	}
*/

#markdownBody {
	padding-top: 15px;
	line-height: 1.45;
	overflow-wrap: break-word;
	}

/* aside .abstract {
 *
 * } 
 * */

a {
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

p {
	margin: 0;
}

p + p {
	text-indent: 1.75em;
	margin-top: 0;
}

/* section {

} */

section h1 {
	border-bottom: 1px dotted;
	margin: 1.125em 0 0 0;
	font-size: 1.5em;
	line-height: 1.125;
	box-shadow: none;
	text-align: left;
	font-weight: bold;
	padding: 0;
	letter-spacing: -0.75px;
}

.markdownBody section > :first-child > a {
	border-bottom: none;
}

#markdownBody .section-link-list {
	padding: 0 0 0 1.375em;
}

#markdownBody .section-link-list li {
	line-height: 1.65;
	padding: 1px 0;
	margin: 2px 0 0 0;
	}

footer {
	text-align: center;
	margin: 3em 0;
	}

/* post layout */

header.post-header {
	margin: 0;
	}

#page-metadata {
	line-height: 1.5;
	margin: 0 0 2rem 0;
}

#page-description {
	margin: 0 auto 1em auto;
	font-style: italic;
	text-align: justify;
	}

aside#TOC {
	max-width: 205px;
	margin: 0 2rem 1.5rem 0;
	padding: 0.5em 0.5em 0.75em 0.75em;
	position: relative;
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	z-index: 11;
	line-height: 1.25;
}

.blog-post {
	padding-bottom: 1.5em;
}

.blog-post h2 {
	position: relative;
	padding: 0;
	margin: 0;
	float: left;
}

.blog-post-header {
	font-variant: small-caps;
	font-style: italic;
    line-height: 1.60;
	font-size: 1rem;
	font-weight: 700;
	z-index: 11;
}

.blog-post-header::before {
	content: "§";
	font-style: normal;
	font-weight: bold;
    color: #111;
    text-decoration: none;
}

.blog-post-header::after {
	content: "—";
	font-style: normal;
    text-decoration: none;
	padding: 0.5rem;
}

/* misc elements*/
#markdownBody blockquote {
	margin: 0 0 1.5em 0;
	padding: 1rem 1.25rem 1rem 1.25rem;
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	overflow: hidden;
	position: relative;
	font-style: italic;
}	

p.caption {
	text-indent: 0;
}

li {
	counter-increment: count;
}

ol {
	counter-reset: count;
	list-style-type: decimal;
}

ol li::marker {
	content: counters(count, ".", decimal) ". ";
	}

img {
    max-width: 100%;
}

h1 {
	margin: 0.75em 0;
	text-align: center;
	font-variant: small-caps;
	font-size: 2em;
	line-height: 1.15;
	font-weight: 700;
	letter-spacing: -1px;
}

h2 {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: 1.25em;
	padding: 0 0.5em 2px 0;
	line-height: 1.25;
	font-weight: bold;
	margin: 1.25em 0 0.5em -0.75rem;
	position: relative;
}

h3 {
    font-size: 1.125em;
	margin: 1.25em 0 0.5em -0.75rem;
	font-weight: bold;
	position: relative;
	font-variant: small-caps;
	text-transform: uppercase;
}

aside.abstract blockquote {
	margin: 0 0 1.5em 0;
	padding: 0.9rem 1.25rem 0.95rem 1.25rem;
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	overflow: hidden;
}

@media all and (min-width: 650px) {
	body {
		margin: 0 auto;
		padding: 0 75px 0 5px;
		max-width: 1000px;
	}

	header {
		margin-left: 100px;
	}

    nav#sidebar {
		position: absolute;
        width: 100px;
		display: block;
		padding: 0 40px 0 10px;
    }

	#sidebar div#sidebar-links a {
		border: none;
		text-align: left;
	}

	#sidebar-links a {
		font-variant: small-caps;
	}

	article {
		margin-left: 155px;
		padding-top: 15px;
		max-width: 1000px; /* figure out where the width goes; how to grow space on left side of screen. */
	}

	.markdownBody {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2em;
		grid-row-gap: 0.5em;
	}

	.markdownBody p {
	}

	#markdownBody .section-link-list {
		margin: 1em 3em 0 0;
		padding: 0 0 0 1.375em;
	}

	aside#TOC {
		float: left;
	}

	aside.abstract {
		grid-column-start: 1;
		grid-column-end: -1;
		margin: 0;
		padding: 0;
		overflow-wrap: break-word;
	}

	footer {
		margin: 3em 0 3em 100px;
	}
}
