$utopia-space: (
  "minWidth": 320, "maxWidth": 1240,
  "minSize": 20, "maxSize": 22,
  "positiveSteps": (1.5, 2, 3, 4, 6),
  "negativeSteps": (0.75, 0.5, 0.25),
);

$layout: (
  "prose": 45rem,
  "column": calc(var(--measure-prose) / 2),
);

$sidenote-gap: 64px;

//  --sidenote-gap: 64px;
//  --sidenote-width: min(
//    calc(50vw - (var(--body-width, 75ch) / 2 + 96px)),
//    var(--measure-column)
//  );
