@use "../mixins" as *;

.epigraph > blockquote {
    padding: var(--space-3xs) var(--space-xs);
    background-color: var(--bg-page);
    border: none;
    @include type("body");
    font-size: var(--step--1);
    display: block;
}

    .epigraph > blockquote p {
        font-style: italic;
    }

    .epigraph > blockquote p:last-child:not(:only-child) {
        margin: var(--space-3xs) 0 0 0;
        text-align: right;
        //font-style: normal;
    }

    .epigraph > blockquote > p:first-child::before {
        font-size: var(--step-2);
        content: "\201c";
        margin-right: var(--space-3xs);
        vertical-align: -0.25em;
    }

    .epigraph > blockquote > p:only-child::after,
    .epigraph > blockquote > p:nth-last-child(2)::after {
        font-size: var(--step-2);
        content: "\201D";
        right: var(--space-3xs);
        vertical-align: -0.25em;
        margin-left: var(--space-3xs);
    }

