@use "../mixins" as *;

.epigraph {
    padding: var(--space-3xs) var(--space-xs);
    background-color: var(--bg-page);
    border: none;
    @include type("body");
    font-size: var(--step--1);
}

    .epigraph p {
        font-style: italic;
    }

    .epigraph p:last-child:not(:only-child) {
        margin: var(--space-3xs) 0 0 0;
        text-align: right;
        /*font-size: 0.75em;*/
        font-style: normal;
    }

    .epigraph::before {
        display: block;
        position: absolute;
        font-size: var(--step-2);
        content: "\201c";
        left: var(--space-3xs);
    }

    .epigraph::after {
        display: block;
        position: absolute;
        font-size: var(--step-2);
        content: "\201D";
        right: var(--space-3xs);
    }

