@use "../mixins" as *;

figure {
    margin: var(--space-xs) auto;
    width: 100%;
}

#markdownBody figure.full-width {
  width: auto;
  margin-left: calc(50% - 50vw + var(--scrollbar-width, 0px) / 2);
  margin-right: calc(50% - 50vw + var(--scrollbar-width, 0px) / 2);
  margin-block: 2em;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

figcaption {
    text-align: center;
    /*font-size: 0.85em;*/
    @include type("caption");
    padding: var(--space-3xs);
    em {
      font-family: inherit;
      font-style: inherit;
      line-height: inherit;
    }
}

span.citation {
  em {
    font-style: italic;
  }
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#markdownBody figure img {
    border: 1px solid var(--border-subtle);
    box-shadow: 0 0 10px 0 var(--border-default);
  }

#markdownBody img:hover {
    box-shadow: 0 0 10px 0 var(--border-subtle);
  }
