@use "../mixins" as *;

sup {
  @include type("superscript");
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
  position: relative;
  top: -0.233em;
}

a.footnote-ref {
    vertical-align: super;
    position: relative;
    top: 0.1em;
    padding: 0 0.1em;
    margin-left: 0.25em;
    font-variant-numeric: lining-nums;
    font-weight: 600;
    z-index: 1;
}

.footnote-back {
    padding: 0 0.1em;
    margin-left: 0.1em;
    font-weight: 600;
}

div.csl-entry {
    padding: var(--space-2xs) 0;
    text-indent: var(--space-m);
    }

section#footnotes {
    margin-top: var(--space-xs);
    }

section#footnotes hr {
    overflow: visible; /* For IE */
    height: var(--space-3xs);
    border-style: solid;
    border-color: var(--border-default);
    border-width: 1px 0 0 0;
    border-radius: var(--space-xs);
}

section#footnotes hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 20px;
    margin-top: -31px;
    border-style: solid;
    border-color: var(--border-default);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

section#footnotes li {
}
