@use "../mixins" as *;

footer {
    text-align: center;
    margin: var(--space-m) 0;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.feedback a {
    @include link-style;
    @include link-hover-style;
}

.end-ornament {
    width: 100%;
    padding: var(--space-s) 0;
}

.epitaph {
    max-width: 75ch;
    font-style: italic;
}

#footer-logo {
        @include link-style($border-width: none);
        margin: var(--space-m) 0;
        align-content: center;
        @include link-hover-style;
    }

    #footer-logo img {
        width: 75ch;
        //filter: invert(11%) sepia(6%) saturate(187%) hue-rotate(22deg) brightness(105%) contrast(87%); /* var(--colour-on-surface) */
        /* filter: invert(98%) sepia(18%) saturate(553%) hue-rotate(346deg) brightness(111%) contrast(105%); */ /* var(--colour-surface) */
}

