@use "../mixins" as *;

#page-metadata {
    margin: 0 0 var(--space-s) 0;
    text-align: center;
    @include type("meta");
}

#page-description {
    margin: var(--space-3xs) 0;
    // font-style: italic;
    text-align: center;
    @include type("description");
}

div#link-tags {
    margin: var(--space-3xs) 0;
    text-align: center;
    @include type("meta");
}

span.page-status {
    font-style: italic;
}

.front-matter {
  //display: flow-root;
  color: var(--text-secondary);
  //padding: var(--space-xs);
  @include type("meta");
}

.abstract blockquote {
  display: block;
  margin: 0;
  padding: var(--space-xs);
  border: none;
  background: none;
  color: var(--text-secondary);
  border: 1px solid var(--border-default);
  background-color: var(--bg-raised);
  @include type("meta");
  em { font-style: italic; }
  strong { font-weight: 700; }
}
