@use "../mixins" as *;

#page-metadata {
    margin: 0 0 var(--space-s) 0;
    text-align: center;
    @include type("meta");
}

#page-description {
    margin: var(--space-3xs) 0;
    // font-style: italic;
    text-align: center;
    @include type("description");
}

div#link-tags {
    margin: var(--space-3xs) 0;
    text-align: center;
    @include type("meta");
}

span.page-status {
    font-style: italic;
}

.abstract blockquote {
    margin: 0 0 var(--space-xs) 0;
    padding-top: var(--space-xs);
    border: 1px solid var(--colour-outline-variant);
    background-color: var(--colour-surface-variant);
    @include type("meta");
    em { font-style: italic; }
    strong { font-weight: 700; }
}
