@use "../mixins" as *;
@use "../settings/light-mode" as *;

#markdownBody {
    margin: var(--space-xs) auto;
    padding: 0 var(--space-2xs);
    position: relative;
}

    #markdownBody .section-link-list {
        padding: 0 0 0 var(--space-xs);
    }

        #markdownBody .section-link-list li {
            /*padding: var(--space-3xs);*/
            list-style-position: outside;
        }

    .markdownBody a {
        font-variant-numeric: lining-nums;
    }

    .markdownBody li {
        list-style-position: outside;
    }

    p {
      margin: 0;
    }

    p + p {
        text-indent: var(--space-m);
    }

.smallcaps {
  font-variant: small-caps;
}

@media (min-width: 901px) {
    article.post {
        margin: 0 auto;
    }
}
