@use "../mixins" as *;

#markdownBody {
/*  display: flex;
    flex-flow: row wrap;*/
    margin: var(--space-xs) auto;
    padding: 0 var(--space-2xs);
}

    #markdownBody .section-link-list {
        padding: 0 0 0 var(--space-xs);
    }

        #markdownBody .section-link-list li {
            /*padding: var(--space-3xs);*/
            list-style-position: outside;
        }

    //#markdownBody #diaries .section-link-list li {
    //  list-style-type: square;
    //}

    .markdownBody a {
        @include link-style($link-color: var(--colour-on-surface));
        @include link-hover-style;
        /*color: var(--colour-on-surface);*/
        font-variant-numeric: lining-nums;
    }

    .markdownBody li {
        list-style-position: outside;
    }

    p {
      margin: 0;
    }

    p + p {
        text-indent: var(--space-m);
    }

@media (min-width: 901px) {
    article.post {
        margin: 0 auto;
    }
}
