@use "../mixins" as *;
@use "../settings/light-mode" as *;

#sidebar {
    display: flex;
    justify-content: center;
    width: min(var(--measure-prose), 100%);
    margin-inline: auto;
    position: relative;
    @include type("nav-link");
}

    #sidebar a#logo {
        @include link-style(
          $border-width: 1px,
          $border-style: dotted,
          $border-color: var(--border-subtle),
          $link-color: inherit
          );
        @include link-border-style($border-color: var(--border-subtle), $border-style: dotted);
        margin: 1px;
        padding: var(--space-3xs) var(--space-2xs);
        align-content: center;
        @include link-hover-style;
    }

    #logo img {
        min-width: var(--space-s);
        flex: 1 1 100%;
        /* filter: invert(98%) sepia(18%) saturate(553%) hue-rotate(346deg) brightness(111%) contrast(105%); */ /* var(--colour-surface) */
    }

    #sidebar span#logotype {
        @include type("logotype");
        text-transform: lowercase;
        font-variant: none;
      }

    .sidebar-links {
        flex: 1 1 100%;
        display: flex;
        flex-flow: row wrap;
    }

    #sidebar a {
        display: block;
        text-align: center;
        font-variant: small-caps;
    }

    #sidebar .sidebar-links a {
        flex: 1 1 33%;
        padding: var(--space-3xs) var(--space-2xs);
        align-content: center;
        @include link-style(
          $border-width: 1px,
          $border-style: dotted,
          $border-color: var(--border-default),
          $link-color: inherit
    );
        @include type("nav-link");
    }

    #sidebar .sidebar-links a.patreon {
        display: block;
        text-align: center;
        font-variant: small-caps;
        @include focus-visible;
        @include tinted("green");
    }

    #sidebar .sidebar-links a.subscribe {
        display: block;
        text-align: center;
        font-variant: small-caps;
        @include focus-visible;
        @include tinted("red");
    }

    #sidebar .sidebar-links a.website {
        display: block;
        text-align: center;
        font-variant: small-caps;
        @include focus-visible;
        @include tinted("violet");
    }

    #sidebar .sidebar-links a.author {
        display: block;
        text-align: center;
        font-variant: small-caps;
        @include focus-visible;
        @include tinted("indigo");
    }

    #sidebar .sidebar-links a.changelog {
        display: block;
        text-align: center;
        font-variant: small-caps;
        @include focus-visible;
        @include tinted("yellow");
    }

@media (min-width: 650px) {
  #sidebar {
  }

  #sidebar .sidebar-links a {
      text-transform: uppercase;
      font-weight: 600;
      flex: 1 1 auto;
  }
}

@media (min-width: 1180px) {
    #sidebar a#logo {
        border: none;
        position: absolute;
        right: calc(100% + var(--space-3xs));
        top: 0;
        bottom: 0;
    }

    #sidebar #logo img {
        width: var(--space-l);
    }
}
