---
layout: default
---
	<header>
		<h1>{{ page.title }}</h1>
	</header>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
	<div id="page-metadata">
		<div id="page-description">
			<p id="page-description"><em>{{ page.description | markdownify }}</em></p></div>
		<div id="link-tags">
			{% if page.tags.size > 0 %}
				{% for tag in page.tags %}<a href="/tags#{{ tag | slugify }}">{{ tag }}</a>
					{% unless forloop.last %}&nbsp;{% endunless %}
				{% endfor %}
			{% endif %}
		</div>
		<div id="page-metadata-block">
      		<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
				{{ page.date | date: date_format }} {% if page.modified %} &mdash; {{ page.modified | date: date_format }}</time>{% endif %} {% if page.status %} &bull; Status: <em>{{ page.status }}</em>{% endif %}
		</div>
	</div>

		{% if page.toc %}
			<aside id="TOC">
				{{ content | toc_only }}
			</aside>
		{% endif %}

	<div id="markdownBody" class="post-content e-content" itemprop="articleBody">
		<aside class="abstract">
			{% if page.abstract %}
				<blockquote>{{ page.abstract | markdownify }}</blockquote>
			{% endif %}
		</aside>
    {{ content | inject_anchors }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
