---
layout: default
---
	<header>
		<h1>{{ page.title | markdownify }}</h1>
	</header>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
	<div id="page-metadata">
	{% if page.tags.size > 0 %}
		<div id="link-tags">
	{% for tag in page.tags %}<a href="/tags#{{ tag | slugify }}">{{ tag }}</a>
		{% unless forloop.last %}&nbsp;{% endunless %}
	{% endfor %}
		</div>
			{% endif %}
		<div id="page-description">{{ page.description | markdownify }}</div>
		<div id="page-metadata-block">
      		<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        		{%- assign date_format = "%b %-d, %Y" -%}
				{{ page.date | date: date_format }} {% if page.last_modified_at %} &ndash; {{ page.last_modified_at | date: date_format }} {% endif %}</time> {% if page.status %} &bull; Status: <em>{{ page.status }}</em>{% endif %}
		</div>
	</div>

		{% if page.toc %}
			<aside id="TOC">
				{{ content | toc_only }}
			</aside>
		{% endif %}

	<div id="markdownBody" class="post-content e-content" itemprop="articleBody">
		{% if page.abstract %}
			<aside class="abstract">
				<blockquote>{{ page.abstract | markdownify }}</blockquote>
			</aside>
		{% endif %}
		{{ content }}
  </div>

	<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
