---
layout: default
---

<article class="article__post h-entry">
	<header><h1 class="title p-name">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1></header>
	<div id="page-metadata">
		<div class="article__description p-summary" id="page-description">
			{{ page.description | markdownify }}
		</div>

	{% if page.cover %}
		<figure class="cover">
			<img src="{{ page.cover }}" alt="{{ page.cover_caption }}">
			{% if page.cover_caption %}
			<figcaption aria-hidden="true">{{ page.cover_caption }}</figcaption>
			{% endif %}
		</figure>
	{% endif %}
	{% if page.tags.size > 0 %}
		<div id="page-tags">
	{% for tag in page.tags %}
	<a href="/tags#{{ tag | slugify }}">{{ tag }}</a>
		{% unless forloop.last %}&nbsp;{% endunless %}
	{% endfor %}
		</div>
	{% endif %}
		<div id="page-metadata-block">
      		<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        		{%- assign date_format = "%b %-d, %Y" -%}
				{{ page.date | date: date_format }}
			</time>
			{% if page.last_modified_at %} &ndash;
      		<time title="Date of last significant revision." class="dt-modified" datetime="{{ page.last_modified_at | date_to_xmlschema }}"> {{ page.last_modified_at | date: date_format }} </time>
			{% endif %}
			{% if page.status %} &bull; Status:
			<span class="page-status">{{ page.status }}</span>
			{% endif %}
		</div>
	</div>

	<div id="markdownBody" class="markdownBody post-content e-content">
		<div class="front-matter">
		{% if page.toc %}
			<aside id="TOC">
			</aside>
		{% endif %}

		{% if page.abstract %}
			<aside class="abstract">
				<blockquote>{{ page.abstract | markdownify }}</blockquote>
			</aside>
		{% endif %}
		</div>

		{{ content }}

  </div>


	{% if site.data.backlinks.all_backlinks[page.url] %}
	  <section id="backlinks" class="post-backlinks">
	    {% backlinks %}
	  </section>
	{% endif %}

</article>
