@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 Lite.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 LiteItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 Noir.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 NoirItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
