@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 Lite.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 LiteItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 Noir.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Chandler 42';
	src: url('../fonts/chandler-42/Chandler_42 W05 NoirItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
