@font-face {
	font-family: 'Courier Std';
	src: url('../fonts/Courier Std/CourierStd.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Courier Std';
	src: url('../fonts/Courier Std/CourierStd-Oblique.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Courier Std';
	src: url('../fonts/Courier Std/CourierStd-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Courier Std';
	src: url('../fonts/Courier Std/CourierStd-BoldOblique.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
