@font-face {
	font-family: 'FCaslon Twelve Std';
	src: url('../fonts/FCaslon/FCaslonTwelveITCStd-Roman.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Twelve Std';
	src: url('../fonts/FCaslon/FCaslonTwelveITCStd-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Thirty Std';
	src: url('../fonts/FCaslon/FCaslonThirtyITCStd-Roman.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Thirty Std';
	src: url('../fonts/FCaslon/FCaslonThirtyITCStd-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Fortytwo Std';
	src: url('../fonts/FCaslon/FCaslonFortytwoITCStd-Roman.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Fortytwo Std';
	src: url('../fonts/FCaslon/FCaslonFortytwoITCStd-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Poster Std';
	src: url('../fonts/FCaslon/FCaslonPosterITCStd-Roman.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Ornaments';
	src: url('../fonts/FCaslon/FCaslon Ornaments ITC.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
