@font-face {
	font-family: 'FCaslon Twelve Std';
	src: url('../fonts/FCaslon/FCaslonTwelveITCStd-Roman.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Twelve Std';
	src: url('../fonts/FCaslon/FCaslonTwelveITCStd-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Thirty Std';
	src: url('../fonts/FCaslon/FCaslonThirtyITCStd-Roman.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Thirty Std';
	src: url('../fonts/FCaslon/FCaslonThirtyITCStd-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Fortytwo Std';
	src: url('../fonts/FCaslon/FCaslonFortytwoITCStd-Roman.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Fortytwo Std';
	src: url('../fonts/FCaslon/FCaslonFortytwoITCStd-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Poster Std';
	src: url('../fonts/FCaslon/FCaslonPosterITCStd-Roman.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FCaslon Ornaments';
	src: url('../fonts/FCaslon/FCaslon Ornaments ITC.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
