@font-face {
	font-family: 'LTC Remington Typewriter';
	src: url('../fonts/LTC Remington Typewriter/LTCRemingtonTypewriterPro.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LTC Remington Typewriter';
	src: url('../fonts/LTC Remington Typewriter/LTCRemingtonTypewriterPro-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

