@use "../index" as *;

body {
    --grid-gap: var(--space-xs);
    --bleed-min: var(--space-xs);
    --content-max: calc(3 * var(--measure-column) + 2 * var(--space-m));
    --grid-col: calc((var(--content-max) - 11 * var(--grid-gap)) / 12);
    --note-track: 0px;

    --span-prose: content-start / content-end;

    @include mq(tablet) {
        --grid-gap: var(--space-s);
    }

    @include mq(desktop) {
        --grid-gap: var(--space-m);
        --span-prose: col 3 / col 11;
    }

    @include mq(sidenotes) {
        --note-track: var(--sidenote-width);
    }

    display: grid;
    min-height: 100svh;
    row-gap: var(--space-s);

    grid-template-columns:
        [full-start] minmax(var(--space-xs), 1fr)
        [bleed-start note-start] var(--note-track)
        [note-end content-start] repeat(12, [col] minmax(0, var(--grid-col)))
        [content-end] var(--note-track)
        [bleed-end] minmax(var(--space-xs), 1fr)
        [full-end];

    column-gap: var(--grid-gap);

    grid-template-rows:
        [nav-start] auto
        [nav-end main-start] 1fr
        [main-end footer-start] auto
        [footer-end];

    @include mq(sidenotes) {
        --note-track: var(--sidenote-width);
    }
}

body.has-hero {
    grid-template-rows:
        [hero-start] 1fr
        [hero-end nav-start] auto
        [nav-end main-start] auto
        [main-end footer-start] auto
        [footer-end];
}

#sidebar { grid-row: nav-start / nav-end; grid-column: content-start / content-end; }
main     { grid-row: main-start / main-end; }
footer   { grid-row: footer-start / footer-end; }

main {
    position: relative;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: subgrid;
}

.post section {
    margin-top: 2.75em;
}

@include mq(tablet) {
    header {
        margin: var(--space-m) 0 var(--space-s) 0;
    }
}
