@use "../index" as *;

body {
    --grid-gap: 0;
    --bleed-min: var(--space-xs);
    --note-track: 0px;

    --span-prose: content-start / content-end;

    display: grid;
    min-height: 100svh;
    row-gap: var(--space-s);
    column-gap: var(--grid-gap);

    grid-template-columns:
        [full-start] var(--bleed-min)
        [content-start col] minmax(0, 1fr)
        [content-end] var(--bleed-min)
        [full-end];


    grid-template-rows:
        [nav-start] auto
        [nav-end main-start] 1fr
        [main-end footer-start] auto
        [footer-end];

    @include mq(tablet) {
        --grid-gap: var(--space-s);
    }

    @include mq(desktop) {
        --grid-gap: var(--space-m);
        --grid-col: calc((var(--measure-column) - 3 * var(--grid-gap)) / 4);
        --span-prose: col 3 / col 11;

        grid-template-columns:
            [full-start] minmax(var(--space-xs), 1fr)
            [content-start] repeat(12, [col] minmax(0, var(--grid-col)))
            [content-end] minmax(var(--space-xs), 1fr)
            [full-end];
    }

    @include mq(sidenotes) {
        --note-track: var(--sidenote-width);
    }
}

body.has-hero {
    grid-template-rows:
        [hero-start] 80svh
        [hero-end nav-start] auto
        [nav-end main-start] auto
        [main-end footer-start] auto
        [footer-end];
    min-height: 100svh;

    @include mq(desktop) {
      grid-template-rows:
          [hero-start] 93svh
          [hero-end nav-start] auto
          [nav-end main-start] auto
          [main-end footer-start] auto
          [footer-end];
      min-height: 100svh;
    }
}

#sidebar { grid-row: nav-start / nav-end; grid-column: content-start / content-end; }
main     { grid-row: main-start / main-end; }
footer   { grid-row: footer-start / footer-end; }

main {
    position: relative;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: subgrid;
}

.post section {
    margin-top: 2.75em;
}

@include mq(tablet) {
    header {
        margin: var(--space-m) 0 var(--space-s) 0;
    }
}
